body {
    font-family: Arial, sans-serif;
}

nav {
    background-color: #333;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.menu > li {
    position: relative;
}

.menu > li > a {
    display: block;
    padding: 14px 20px;
    color: white;
    text-decoration: none;
}

.menu > li > a:hover {
    background-color: #111;
}

.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    list-style-type: none;
    margin: 0;
    padding: 0;
    min-width: 200px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.submenu > li > a {
    padding: 12px 16px;
    color: black;
    text-decoration: none;
    display: block;
}

.submenu > li > a:hover {
    background-color: #ddd;
}

.menu > li:hover .submenu {
    display: block;
}

-->

